<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <div class="about content"></div>
    <%- include('./partials/navbar.ejs') %>
    <h2>Welcome to the About page!</h2>
    <p> This app shows-off some of my favorite quotes!</p>
    <%- include('./partials/footer.ejs') %>
</body>
</html>