<nav>
	<div class="site-title">
		<a href="/"><h1>It's a Quote App</h1></a>
	</div>
	<ul>
		<li><a href="/">Homepage</a></li>
		<li><a href="/about">About page</a></li>
		<li><a href="/create">Add a Quote</a></li>
		<li><a href="/randomJS">Random Quote</a></li>
		<li><a href="/details">Quotes</a></li>
	</ul>
</nav>